{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{% block body %}
    <h4>Désolé ! Dans cette version du site, les archives ne sont pas encore accessibles.</h4>
    <p><a href="{{ path('result') }}" class="btn btn-info ml-3">Retour aux résultats</a></p>
{% endblock %}
