{% extends "baseaccueil.html.twig" %}
{% block title %}Accueil{% endblock %}
    
{% block body %}
        <a class="accueil affiche2019" href="{{ path('security_login') }}">
        <p class="animated infinite pulse fast">Accès au site en cliquant sur l'image</p>
        </a>
{% endblock %}