{% extends "baseaccueil.html.twig" %}
{% block title %}Accueil{% endblock %}
    
{% block body %}

        <a class="miseenforme affiche20191200x" href="{{ path('security_login') }}">
        <span class="animated infinite flash slow mt-2">Accès au site en cliquant n'importe où sur l'image</span>
        </a>
{% endblock %}


