
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180DEG, #1e223b,#33265c,#3a517d 65%, #fff 98%);
}

/* Les affiches en fond */
@media screen and (max-width: 800px){
    .affiche20192bis
        {
        background-image: url("/img/affiche_2019_2bis.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #a0a2c933;
        background-position: center;
        }

    .accueil p
        {
        position: absolute;
        top: 65%;
        left: 8.5%;
        width: 23%;
        font-family: inherit;
        font-size:0.7rem;
        color:#fff;
        }
}

@media screen and (min-width: 800px) {
  .affiche20192bis
  {
    background-image: url("/img/affiche_2019_2bis.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

    .accueil p
    {
	position: absolute;
    top: 65%;
    left: calc(50% - 185px);
    width: 20ch;
    z-index: 10;
    margin-bottom:0;
    font-family: inherit;
    font-size:1rem;
    color:#fff;
    }
}

.afficheAccueilVierge,
.afficheAccueilSansTitre
{
	background-repeat: no-repeat;
	background-size: cover;
}

.afficheAccueilVierge
{
    background-image: url("public/css/img/affiche_NO_vierge.png");
}

.afficheAccueilSansTitre{
    /* background-image: url("/img/affiche_NO_vierge_sans_titre.jpg"); */
    background-image: url("/img/affiche_NO_vierge_sans_titre353kb.jpg");
}

.accueil,
.miseenforme,
.add,
.admin
{
    height: 100%;
    display: flex;
    flex-direction:column;
    flex: 1;
    align-items: center;
}
 

.miseenforme {
     color: rgb(26, 22, 22);
     text-align: center;
     border-radius: 5px;
     box-shadow: 0px 0 10px 5px #271753;
     padding: 2rem 0;
     
    }

.miseenforme section,
{
    border:1px solid rgb(21, 140, 186);
    border-radius: 5px;
    margin-bottom:1%;
}

.accueil
{
    position: relative;
}

.admin{
    background: #fff;
}
/*---------------------------------------------*/

/*animation accessite */
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  color:#fff;
}

/*-----------------------------------------------*/
 header i{
     width:30px;
 }

.messageflash{
    position:absolute;
    min-width:100vw;
}

h1{
    font-size:1.1rem;
    text-align: center;
    color:#fff;
}

h4{
    font-size:1.2rem;
    color:rgb(216, 14, 14);
}

 h4 span{
     color: #cf0;
 }

 .exponent h4{
     color:rgb(0, 0, 0);
 }


.admin{
    flex-wrap: wrap;
    text-align: center;
    color: #343a40;
}

.admin h4{
        color: #343a40;
    }

.admin section{
        min-width: 250px;
        margin-top:1%;
        border:1px solid #158CBA;
    }
    
.admin .btn-warning{
        margin-top:15%;
    }


.add label{
        margin-left:3rem;
    }

#exponent_motcle{
        margin:auto;
    }

    /* --------------------------------------------*/

    /* Les card*/
.card-sm {
	background-color: rgba(255, 255, 255, 0);
    color: white;
    border:1px solid rgba(255, 255, 255, 1);
	border-radius: 5px;
}

.card-header{
    background-color: #fff;
    color :#0c0000;
    font-size:1.3rem;
}

.card-title{
    color:#0c0000; 
}
/* --------------------------------------------*/

    /* Les taleaux */
.table{
        border-radius: 5px;
    }

.table td,
.table th{
    padding:10px;
}
/* --------------------------------------------*/

/* Les formulaires */
form{
    min-width: 35%;
    margin: auto;
    padding:1rem;
    border: 1px solid #fff;
    border-radius : 5px;
    background-color: rgba(255,255,255);
}

.form-control {
    width:90%;
    margin:0 auto 5%;
    font-size:1rem;
    color:rgb(69, 130, 236)
}
/* --------------------------------------------*/
/* les barres de navigation*/
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0px;
	border-top: 3px solid rgba(0,0,0,0.25);
}

span{
    color:#17a2b8;
    font-weight: 800;
    font-family : Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

span:hover{
    font-style:italic;
}

.navadmin .navbar-dark .navbar-nav .show > .nav-link{
    color: #f80909;
}

.navadmin #accountDropdownLink {
	background-color: #0078fe00;
	color: #fff;
	border-radius: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

/* Breadcrumb*/
.breadcrumb{
    margin-bottom:0rem;
}


/* page archive */

.record{
    text-align: center;
    margin:auto;
}

.record p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.btn-archive{
	padding: 10px;
	color: #fff;
	font-size: 1rem;
    background-color: #f0ad4e;
    border-radius: 15px;
}

a.btn-archive:hover{
    background-color: #fff;
    color: #f0ad4e;
    text-decoration:none;
}

.messageflash{
    position:relative;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {
	height: calc(1.9rem + 2px);
}


/*  PAGE ERREUR 403 et 404 */

.erreur{
    margin:auto;
}

.erreur p{
    color:#fff;
}