{%extends 'baseaccueil.html.twig' %}
{% block title %}accès refusé{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">
            <h2>Accès interdit : erreur 403</h2>
            <p>Vous n'avez pas la permission de vous connecter à cette page</p>
        </div>
        <a href="{{ path('search') }}" class="btn btn-primary">Retour à la page de recherche</a>
    </div>
{% endblock %}