{%extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="erreur container">
        <div class="alert alert-danger">
            <h2 style="color:red;">Erreur 404</h2>
            <p>Désolé, cette page n'existe pas</p>
        </div>
        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}